<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, value:"Compras de" %>
  </div>

  <div class="field">
    <%= form.label :person_id %>
    <%= form.collection_select :person_id, Person.order(:name),:id,:name, {include_blank: false },class:"form-select",placeholder:"Nome da compra"  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
