/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
    background-color: #333333;
    color: white;
    margin: 0;
    padding: 0;
}
.cabecalho{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    position: static;
}
header{
    position: relative;
    top: 0;
    background-color: #4DDBAA ;
    width: 100%;
    padding: 2rem 0 2rem;
    max-height: 12vh;
    overflow: hidden;
}
nav a:link, nav a:visited{
    position: relative;
    border-bottom: 3px solid #009987;
    background-color: #4DDBAA;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
nav a:hover, nav a:active {
    background-color: #555359;
}

.corpo a:link, .corpo a:visited {
    background-color: #4DDBAA;
    border: solid 1px #1AAB78;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.corpo a:hover, .corpo a:active {
    background-color: #555359;
}

.corpo {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

header h1{
    padding: 8px;
    border: 2px solid #009987;
    margin: 0 0 0 0;
    display: inline;
}
nav {
    margin-top: 2rem;
    display: inline;
    position: absolute;
    right: 10rem;
    top: 0;
}
