<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @order_product.name %>
</p>

<p>
  <strong>Order:</strong>
  <%= "#{ @order_product.order.name} #{@order_product.order.person.name}" %>
</p>

<p>
  <strong>Product:</strong>
  <%= @order_product.product.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order_product.quantity %>
</p>

<%= link_to 'Edit', edit_order_product_path(@order_product) %> |
<%= link_to 'Back', order_products_path %>
