<!DOCTYPE html>
<html>
  <head>
    <title>D3safio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="application.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <header>
    <div class="cabecalho">
      <h1>M K A R T</h1>
      <nav>
        <%= link_to 'Usuários', people_path %>
        <%= link_to 'Carrinho', orders_path %>
        <%= link_to 'Produtos', products_path %>
        <%= link_to 'Pedidos', order_products_path %>
      </nav>
    </div>
  </header>
  <div class="corpo">

    <%= yield %>
  </div>

  <footer>

  </footer>
  </body>
</html>
